<div class="container">
    <h4 class="character-title">
        {{editCharacter.name | uppercase}} details
    </h4>
    <div class="character-content">
        <md-input-container>
            <input [(ngModel)]="editCharacter.name"
                mdInput placeholder="Character Name">
        </md-input-container>
        <md-input-container>
            <input [(ngModel)]="editCharacter.side"
                mdInput placeholder="Side">
        </md-input-container>
    </div>
    <div class="detail-button">
        <button class="btn-save"
            md-raised-button
            (click)="save()">UPDATE
        </button>
        <button md-raised-button
            (click)="cancel()">CANCEL
        </button>
        <button md-raised-button
            (click)="delete()">DELETE
        </button>
    </div>
</div>
